body{
	text-align: center;
	font-family:"MS 明朝", "MS PMincho", "ＭＳ Ｐ明朝", "HiraMinProN-W6", "HG明朝E", "ヒラギノ明朝 ProN W6", "serif";
	font-size:1.25em;

	background: linear-gradient(0deg, #d1cfe3, #b0beea);
	background-size: 400% 400%;
	
}

.subTitle{
	font-size:1.5em;
	margin:0;
}

/* クリック可能な要素 */
.clickable{
	color:blue;
}

.graph{
	width:600px;
	height:300px;
}

.stockItem{
	color:blue;
	margin-top:15px;
	margin-bottom:0px;
	width:400px;
	display:inline-block;
}

.financialData{
	color:black;
 	/* display:none;  */
 	margin-top:5px;
}

.financialDataTable{
	border-collapse: collapse;
	border:1px solid;
	margin:0 auto;
}

.perSortTable{
	margin:0 auto;
}

.codeInput{
	width:6em;
}

@media screen and (max-width: 480px){
	body{
		font-size:1em;
	}
	.graph{
		width:350px;
		height:300px;
	}
}
@media screen and (max-width: 760px) and (min-width:480px){
	body{
		font-size:1.05em;
	}
	.stockItem{
		width:300px;
	}
	.graph{
		width:480px;
		height:300px;
	}
}

@media screen and (min-width: 760px) and (max-width:1080px) {
	body{
		font-size:1.1em;
	}
	.stockItem{
		width:370px;
	}
}
