body{
	text-align: center;
	font-family:"MS 明朝", "MS PMincho", "ＭＳ Ｐ明朝", "HiraMinProN-W6", "HG明朝E", "ヒラギノ明朝 ProN W6", serif;
	font-size:1.25em;
}

.subTitle{
	font-size:1.5em;
}

.stockItem{
	color:blue;
	margin-top:15px;
	margin-bottom:0px;
}

.financialData{
	color:black;
 	display:none; 
 	margin-top:5px;
}

.financialDataTable{
	border-collapse: collapse;
	border:1px solid;
}

.codeInput{
	width:6em;
}