<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

	<head>
		<meta charset="UTF-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<!-- Add to home screen for Safari on iOS -->
		<meta name="mobile-web-app-capable" content="yes"></meta>
		<meta name="mobile-web-app-status-bar-style" content="black"></meta>
		<meta name="mobile-web-app-title" content="株データ帖"></meta>
		<link rel="apple-touch-icon" href="../static/img/logo.png" th:href="@{/img/logo.png}" />
		<meta name="msapplication-TileImage" content="../static/img/logo.png" th:content="@{/img/logo.png}"></meta>
		<meta name="msapplication-TileColor" content="#2F3BA2"></meta>

		<link rel="manifest" href="./manifest.json" th:href="@{/manifest.json}"/>
		<link rel="shortcut icon" href="../static/img/logo.png" th:href="@{/img/logo.png}"/>

		<title>実験用</title>
		<link href="../static/css/stock.css" th:href="@{/css/stock.css}"
			rel="stylesheet" />
	</head>

	<body>
		実験、実験、再実験

		<!-- <script th:src="@{/js/flotr2.min.js}"></script>  -->

		<div id="barChart" style="width:600px;height:300px;"></div>
		<div id="lineChart" style="width:600px;height:300px;"></div>
		<div id="perDistribution" style="width:600px;height:300px"></div>

		<script>
			window.onload = function () {
				var wins = [[[2006,13],[2007,11],[2008,15],[2009,15],[2010,18],[2011,21],[2012,28]]];

				Flotr.draw(
					document.getElementById("barChart"),
					wins,
					{
					bars: {
						show: true
					}
					}
				);

				var winsLine = [[2006,13],[2007,11],[2008,15],[2009,15],[2010,18],[2011,21],[2012,28]];

				Flotr.draw(
					document.getElementById("lineChart"),
					[{ data: winsLine, lines: {show:true} }]
				);
				
			};
		</script>

		<script>
			function loadScript(url, callback) {
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = url;

				script.onload = function() {
					callback();
				};

				document.getElementsByTagName('head')[0].appendChild(script);
			};

			function drawPer(){
				var drawPerData = function(res){
					console.log("drawPerData called");
					perList = res.map(function(item,index){
						return [Math.log(item.per), index + 1];
					})

					Flotr.draw(
						document.getElementById("perDistribution"),
						[{ data: perList, lines: {show:true} }]
					);
				}
			
				var windowLoaded = true;
				makeRequest(params={
					url : "/stock/per/20171226",
					func200 : drawPerData
				});
			}
				
			var URLS ={
				drawLib : "/stock/js/flotr2.min.js"
			};
			loadScript(URLS.drawLib,drawPer);


		</script>

		<script>
			function makeRequest(params) {
				// params.urlが必須
				// params.func200、params.method、params.funcNot200、params.funcErrorはオプション
				// params.mode [text]

				console.log("make Request:" + params.url);
				if (!params.method) {
					params.method = "GET";
				}
				var result;

				var xhr = new XMLHttpRequest();
				xhr.open(params.method, params.url, true);
				xhr.onload = function(e) {
					console.log("get response");
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							console.log(xhr.responseText);

							//レスポンスがJSONではない場合、個別に”text”をparams.modeに渡す
							if(params.mode==="text"){
								result = xhr.response;
							} else{
								result = JSON.parse(xhr.response);
							}
							if (params.func200) {
								params.func200(result);
							} else {
								return g_result=result;
							}
						} else {
							if (params.funcNot200) {
								params.funcNot200();
							} else {
								console.error(xhr.statusText);
							}
						}
					}
				};
				xhr.onerror = function(e) {
					if (params.funcError) {
						params.funcError();
					} else {
						console.error(xhr.statusText);
					}
				};
				xhr.send(null);
			}
		</script>
	</body>

</html>