<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes"></meta>
<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
<meta name="apple-mobile-web-app-title" content="株データ帖"></meta>
<link rel="apple-touch-icon" href="../static/img/logo.png"
	th:href="@{/img/logo.png}" />
<meta name="msapplication-TileImage" content="../static/img/logo.png"
	th:content="@{/img/logo.png}"></meta>
<meta name="msapplication-TileColor" content="#2F3BA2"></meta>

<link rel="manifest" href="./manifest.json" th:href="@{/manifest.json}" />
<link rel="shortcut icon" href="../static/img/logo.png"
	th:href="@{/img/logo.png}" />

<title>株情データ帖</title>
<link href="../static/css/stock.css" th:href="@{/css/stock.css}"
	rel="stylesheet" />
</head>
<body>

	<!-- 銘柄一覧 -->
	<div id="stockList" th:fragment="stockList">
		<div th:inline="text">ユーザ：[[${user}]]([[${section}]])</div>
		<div class="stockItem" 
			th:each="stock: ${stockList}"	
			th:id="${stock.code}">
			<div th:inline="text"
				th:onclick="${'selectFinancialData('+ stock.code +')'}">
				[[${stock.name}]]
				<br />([[${stock.code}]])
			</div>
		</div>
	</div>

	<!-- 財務データ -->
	<div id="fragFinancialData" class="financialData"
		th:fragment="financialData" th:if="${financialData}">
		<table id="fragFinancialDataTable" class="financialDataTable"
			border="1">
			<caption id="fragFinancialDataTableCaption"
				th:inline="text" th:object="${financialData[0]}">
				<span id="fragFinancialDataStockInfo">[[*{name}]]
					(<span id="fragFinancialDataCode">[[*{code}]]</span>)
					<br />
				</span>
				<span th:if="${mode eq 'edit'}">
					<button id="fragFinancialDataAdd" th:onclick="${'addStock('+financialData[0].code+')'}">追加</button>
					<button id="fragFinancialDataDelete" th:onclick="${'deleteStock('+financialData[0].code+')'}">削除</button>
					<br />
				</span>
				per:[[*{per}]]
				<br />
				株価：[[*{last}]]
				<br />
				([[*{date}]])
				<br />
				<span th:replace="template :: stockLink(${financialData[0]})"></span>
			</caption>
			<thead>
				<tr>
					<th>
						<span id="financialYearTitle">年度</span>
					</th>
					<th>
						<span id="financialSalesTitle">売上</span><br />
						<span class="clickable" onclick="drawFinancialData('financialSales')">グラフ</span>
					</th>
					<th>
						<span id="financialOperatingProfitTitle">営業利益</span><br />
						<span class="clickable" onclick="drawFinancialData('financialOperatingProfit')">グラフ</span>
					</th>
					<th>
						<span id="financialNetIncomeTitle">純利益</span><br />
						<span class="clickable" onclick="drawFinancialData('financialNetIncome')">グラフ</span>
					</th>
				</tr>
			</thead>
			<tbody id="fragFinancialDataTableTbody">
				<tr th:each="data: ${financialData}">
					<td class="financialYear" th:text="${data.year}"></td>
					<td class="financialSales" th:text="${data.sales}"></td>
					<td class="financialOperatingProfit" th:text="${data.operating_profit}"></td>
					<td class="financialNetIncome" th:text="${data.net_income}"></td>
				</tr>
			</tbody>
		</table>
		<div onclick="drawFinancialDataAll()" class="clickable">グラフ</div>
		<div class="graph" id="financialDataGraph" style="display:none"></div>
	</div>



	<!-- PerSort -->
	<div id="perSort" class="perSort">
		<table id="perSortTable" class="perSortTable" border="1" th:fragment="perSort">
			<caption id="perSortTableCaption"></caption>
			<thead>
				<tr>
					<th>証券コード</th>
					<th>会社名</th>
					<th>per</th>
					<th>link</th>
				</tr>
			</thead>
			<tbody id="perSortTableTbody">
				<tr th:each="data: ${perSort}" th:id="${'perSort'+data.code}"
					th:onclick="${'showFinancialData2(''perSort'+ data.code +''')'}">
					<td th:text="${data.code}"></td>
					<td th:text="${data.name}"></td>
					<td th:text="${data.per}"></td>
					<td>
						<span th:replace="template :: stockLink(${data})"></span>
						<div class="clickable" th:onclick="'perSort.closePer()'">閉じる</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<span th:fragment="stockLink(data)">
		<a target="_blank" 
			th:href="${'https://shikiho.jp/tk/stock/info/'+data.code}">四季報</a>
		<a target="_blank" 
			th:href="${'https://minkabu.jp/stock/'+data.code+'/consolidated'}">
			みんかぶ</a>	
		<a target="_blank" 
			th:href="@{http://kabuyoho.ifis.co.jp/index.php(id=100,action=tp1,sa=report,bcode=${data.code})}">
			カブ予報</a>
	</span>

</body>
</html>