<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<!-- Add to home screen for Safari on iOS -->
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="mobile-web-app-status-bar-style" content="black"></meta>
	<meta name="mobile-web-app-title" content="株データ帖"></meta>
	<link rel="apple-touch-icon" href="../static/img/logo.png" th:href="@{/img/logo.png}" />
	<meta name="msapplication-TileImage" content="../static/img/logo.png" th:content="@{/img/logo.png}"></meta>
	<meta name="msapplication-TileColor" content="#2F3BA2"></meta>

 	<link rel="manifest" href="./manifest.json" th:href="@{/manifest.json}"/> 
	<link rel="shortcut icon" href="../static/img/logo.png" th:href="@{/img/logo.png}"/>

	<title>株情データ帖</title>
	<link href="../static/css/stock.css" th:href="@{/css/stock.css}"
		rel="stylesheet" />
		
	<script src="../static/js/stock.js" th:src="@{/js/stock.js}"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "98bec09a-067f-4649-ab29-4ae506d1f4ba",
    });
  });
</script>
</head>

<body>

	<!-- 編集モード・デバッグモード -->
	<div id="debug" th:if="${debug}">debug area<br />
		<script>
			var debugMode = true;
		</script>
	</div>

	<script th:if="${edit}">
		var editMode = true;
	</script>

	<!-- 本文 -->

	<h1>株データ帖</h1>

	<!-- 低Per銘柄一覧 -->
	<p onclick="perSort.switchPer()" class="clickable">低per銘柄</p>
	<div id="perSort" class="perSort"></div>

	<!-- グラフーper分布 -->
	<p onclick="beginDrawingPer()" class="clickable">per分布</p>
	<div id="perDistribution" style="display:none;">
		<span id="perDistributionPrevious" class="clickable">＜前の日</span>
		｜<span id="perDistributionRedo" class="clickable">再描画</span>|
		<span id="perDistributionNext">次の日＞</span>
		<br />
		精度：<input type="text" class="codeInput" id="perDistributionStep" value="0.5"/> 

		<div id="perDistributionGraph" class="graph"></div>
	</div>

	<!-- グラフー株価分布 -->	
	<p onclick="beginDrawingPrice()" class="clickable">株価分布</p>
	<div id="priceDistribution" style="display:none;">
		<span id="priceDistributionPrevious" class="clickable">＜前の日</span>
		｜<span id="priceDistributionRedo" class="clickable">再描画</span>|
		<span id="priceDistributionNext">次の日＞</span>
		<br />
		精度：<input type="text" class="codeInput" id="priceDistributionStep" value="30"/> 

		<div id="priceDistributionGraph" class="graph"></div>
	</div>


	<!-- 銘柄検索 -->
	<div>
		証券コード：<input type="text" class="codeInput" id="codeInputForFinancialData"/> 
		<button id="selectCode" onclick="searchFinancialData()">確認</button>
	</div>
	
	<div class="stockItem" id="0">
	</div>


	<!-- 登録銘柄 -->
	<h5 class="subTitle">銘柄</h5>
	<div id="stockList">
	</div>

</body>
</html>