<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes"></meta>
<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
<meta name="apple-mobile-web-app-title" content="株データ帖"></meta>
<link rel="apple-touch-icon" href="../static/img/logo.png" th:href="@{/img/logo.png}" />
<meta name="msapplication-TileImage" content="../static/img/logo.png" th:content="@{/img/logo.png}"></meta>
<meta name="msapplication-TileColor" content="#2F3BA2"></meta>

<link rel="manifest" href="./manifest.json" th:href="@{/manifest.json}"/>
<link rel="shortcut icon" href="../static/img/logo.png" th:href="@{/img/logo.png}"/>

<title>株情データ帖</title>
<link href="../static/css/stock.css" th:href="@{/css/stock.css}"
	rel="stylesheet" />
</head>
<body>
	<h1>株データ帖</h1>
	
	<div>
		証券コード：<input type="text" class="codeInput" id="codeInputForFinancialData"/> 
		<button id="selectCode" onclick="searchFinancialData()">確認</button>
	</div>
	<div class="stockItem" id="0">
	</div>

	<div id="stockList">
		<h5 class="subTitle">銘柄一覧</h5>
	</div>

	<div id="financialData" class="financialData">
		<table id="financialData" class="financialDataTable" border="1">
		<caption id="financialDataTableCaption"></caption>
			<thead>
				<tr>
					<th>年度</th>
					<th>売上</th>
					<th>営業利益</th>
					<th>純利益</th>
				</tr>
			</thead>
			<tbody id="financialDataTableTbody">
			</tbody>
		</table>
	</div>
	<script src="../static/js/stock.js" th:src="@{/js/stock.js}"></script>
</body>
</html>